// Clank Elements Reset
// By Kyle Lamble @ Loosey Goosey Art
// Version 3.1

/*
//
/// Recent Updates 

v3.1
  - Adding <aside> to box-sizing:border-box; rule.
v3.0
	- Added a box-sizing:border-box; rule.
v2.0 
	- Removed font-size:62.5% on html. This is not goot for every site
	- Added font smoothing to html as default
	- Conveted .menu to ul
	- Added object to the video and image style




/*
//
/// Elements */

html{
	@include font_smoothing();
}

body{
	float:left;
	width:100%;
	max-width:100%;
	position:relative;
	height:auto;	
	margin:0;
	padding:0;
}

p{
	margin:0 0 15px;
	
	&:last-child{
		margin-bottom:0;
	}
}

a{
	text-decoration:none;
}

video, img, object, picture{
	max-width:100%;
	height:auto;
}

ul{
	margin:0;
	padding:0;
	display:table;
	list-style:none outside none;
}

div, article, section, table, header, footer, main, aside{
	box-sizing:border-box;
}