// Clank Silent Class Library
// By Kyle Lamble @ Loosey Goosey Art
// Version 5.0


/*
//
/// Notable changes log 

// v5
  - %relative_container was removed. %relative_row is it's successor.
  - created %clank_row & %clank_column, to replace %relative_row and %relative_column.    
    %relative_row and %relative_column still work and simply call %clank_row and %clank_column.




/*
//
/// Stretches the element to fit it's parent exactly */	

%window{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	height:100%;
	width:100%;
}



/*
//
/// An element that is usually used as a top-level layout container */

%page_wrapper{	
	float:left;
	width:100%;
	max-width:100%;
	position:relative;
	height:auto;
}



/*
//
/// An element that behaves like a full width row */

%clank_row{
	float:left;
	clear:both;
	width:100%;
	display:table;	
	box-sizing:border-box;

  &.relative{
    position:relative;  
  }  
}

%relative_row{
  @extend %clank_row;
  @extend %clank_row.relative;
}



/*
//
/// A container element with the most basic of properties for a column */

%clank_column{
	box-sizing:border-box;	
	display:table;
	float:left;
	
	&.relative{
    position:relative;	
	}  
}

%relative_column{
  @extend %clank_column;
  @extend %clank_column.relative;
}



/*
//
/// A common method to vertically center an element */

%vertically_centered_tc{
	display:table-cell;
	vertical-align:middle;
}



/*
//
/// Centers elements vertically and horizontally with transforms */

%center_x{
	position:absolute;
	@include transform(translateX(-50%));
	left:50%;
}

%center_y{
	position:absolute;
	@include transform(translateY(-50%));
	top:50%;
}

%center_xy{
	position:absolute;
	top:50%;
	left:50%;
	@include transform(translate(-50%, -50%));
}



/*
//
/// Shorthand for default styles of having a background image */

%bg_image{
	background-repeat:no-repeat;
	background-position:top center;
	background-size:cover;
}



/*
//
/// Shorthand for default inline list styling */

%inline_list_item{
	float:left;
	display:inline-block;
	list-style:none;
}



/*
//
/// Shorthand for default list container styling */

%inline_list_container{
	padding:0;
	margin:0;
	display:table;
}



/*
//
/// Disable the default focus on click */

%disable_outline{
	&:focus{
		outline:none;
	}
}



/*
//
/// Disables the tap highlight functionality used on mobile devices */

%disable_tap_highlight{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */	
}



/*
//
/// This can sometimes be a quick fix for rendering issues */

%enable_3d{
	@include backface-visibility(hidden);
	@include transform-style(preserve-3d);	
	
	&.transform{
  	@include transform(translateZ(0));
	}
} 



/*
//
/// This applies font-smoothing styles to an element */

%font_smoothing{
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}



/*
//
/// This removes the ability to highlight an item */

%disable_user_select{
	@extend %disable_outline;
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none; 
	-o-user-select:none;
	-ms-user-select:none;	
	-webkit-tap-highlight-color:transparent;	
}



/*
//
/// Default values for all flexbox properties */

%display_flex{
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;     
	display: flex;     
}



/*
//
/// Classes to control the background/object position of an image */

%img_pos--center{
  object-fit:cover;
  object-position:center center;
}

%bg_pos--center{
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
}



/*
//
/// Applying this to a <figure> that contains a <picture> using object-fit
/// will kick in the background image on non-supporting browsers.
/// This relies on modernizr applying the .object-fit class on supporting browsers. */

%object-fit-fallback{
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  
  picture{
    display:none;
  }    
}
.object-fit %object-fit-fallback{
  background-image:none !important;
  
  picture{
    display:block;
  }
}