// Clank Elements Reset
// By Kyle Lamble @ Loosey Goosey Art
// Version 1.0


/*
//
/// Elements */

html{
	font-size:62.5%;	
}

body{
	float:left;
	width:100%;
	max-width:100%;
	position:relative;
	height:auto;	
	margin:0;
	padding:0;
}

h3{
	margin:30px auto 10px;
}

p{
	margin:0 0 15px;
	
	&:last-child{
		margin-bottom:0;
	}
}

a{
	text-decoration:none;
}

video,img{
	max-width:100%;
	height:auto;
}



/*
//
/// Classes */

.menu{
	margin:0;
	padding:0;
	overflow:hidden;
	list-style:none outside none;
}