// Custom Drupal 7 Admin Theme
// By Kyle Lamble @ Loosey Goosey Art
// Version 2.1

/*
//
/// New this version
/// I updated the file structure 

/// @todo Need to style the media widget


/*
//
/// Admin Theme Variables */

//$admin_theme_orange: rgb(221, 155, 35);
//$admin_theme_blue: #067a8f;

$theme_red: rgba(227, 34, 43, 0.7);
$theme_blue: #09c0e1;
$theme_black: #333;
$theme_green: rgba(37, 174, 80, 0.7);
$theme_purple: #6e467a;
$theme_yellow: #f5bb4a;

$admin_content_bgcolor: rgba(255, 255, 255, 0.75);
$node_background_color: rgba(255, 255, 255, 0.7);

$menu_padding: .1em 0;

$arial:'Arial', sans-serif;
$open_sans:'Open Sans', sans-serif;

$button_active_box_shadow:0px 0px 10px -2px #333 inset;


/*
//
/// Classes */

%button_colors{
	@include transition(background-color 0.3s ease-out);
	@include fallback(background-color, rgba(53, 53, 53, 0.23), #ccc);
	@include text-shadow(1px 1px 0 rgba(51, 51, 51, 0.2));
	color:white;
	
	&:hover{
		@include transition(background-color 0.15s ease-out);
		background-color:rgba(59, 59, 59, 0.73);
		text-decoration:none;
		color:white;
	}
	
	&:active{
		@include transition(background-color 0 ease-out);
		box-shadow:0px 0px 28px 5px #333333 inset;	
		background-color:white;
		color:white;
	}
}

%admin_container{
	max-width:1200px;
	width:100%;
	float:none;
	margin-left:auto;
	margin-right:auto;
	
	@include breakat(1263){
		max-width:95%;
	}
}

$admin_border_color:1px solid rgba(51, 51, 51, 0.5);
$admin_border_color_fallback:#ccc;
%admin_border_style{
	@include fallback(border, $admin_border_color, $admin_border_color_fallback);	
	background-clip:padding-box;
}




/*
//
/// Imports */

/// Components
@import "components/tables";
@import "components/forms";
@import "components/messages";
@import "components/vertical_tabs";
@import "components/wysiwyg";

//@import "components/button_groups";
@import "components/admin_tabs";

@import "components/admin_menu";
@import "components/contextual_filters";
@import "components/throbber";
@import "components/action_links";
@import "components/dpm";
@import "components/media_widget";


/// Screens
@import "screens/admin_screen";
@import "screens/module_filter";
@import "screens/manage_display";
@import "screens/views";
@import "screens/content";
@import "screens/image_styles";
@import "screens/webform";
@import "screens/status_screen";
@import "screens/update_screen";
@import "screens/database_logs";
@import "screens/commerce";


/// Misc
@import "misc";









