/*
//
/// Module Filter */

#module-filter-submit #edit-submit {
    margin-bottom: 0px;
    border-radius: 0px 0px 2px 2px;
    font-size: .9em;
    width: 100%;
}
#module-filter-squeeze {
    margin-left: 190px;
    border:none;
}
#module-filter-left {
    border:1px solid black;
    margin-bottom:100px;
    
    #module-filter-tabs{
    	
    	li{
	    	border-bottom:1px solid black;
	    	
	    	&.active{
		    	border-right:1px solid black;
		    	width:auto;
	    	}
    	}
   
    }
    
}
a.module-link-configure {
    background-image: none;
}
a.module-link-help {
    background-image: none;
}
a.module-link-permissions {
    background-image: none;
}
.filter-help {
    float: left;
    margin: 0 0 10px;
    padding: 0;
    width: auto;
    
    a{
	    background-image:none;
	    padding:0 20px 0 0;
    }
}

/*
//
/// Module screen with the Module Filter module enabled */

#system-modules{
	padding-bottom:50px;
	
	label{
		color:black;
		font-size:1em;
	}
	
	a{
		border:none;
		color:white;
		
		&:hover{
			border:none;
		}
	}
	
	tr{				
		&.enabling{
			background-color:rgba(240, 183, 62, 0.82);
		}
		
		&.disabling{
			background-color:rgb(224, 136, 136);
		}
	}
	
}

