/*
//
/// Elements */

html{
	font-size:62.5%;	
}

body{
	float:left;
	@include fallback(width, 100vw, 100%);
	@include fallback(max-width, 100vw, 100%);
	position:relative;
	height:auto;	
}

h3{
	margin:30px auto 10px;
}

p{
	margin:0 0 15px;
	
	&:last-child{
		margin-bottom:0;
	}
}

a{
	text-decoration:none;
}

video,img{
	max-width:100%;
}



/*
//
/// Classes */

.menu{
	margin:0;
	padding:0;
	overflow:hidden;
	list-style:none outside none;
}