.action-links{	
	padding:0;
	display:table;
	width:auto;
	@include rem(margin, 5, 0, 30);

	
	li{
		list-style:none outside none;		
		float:left;		
		text-align:center;
		position:relative;
		@include rem(margin, 0, 5);

		&:first-of-type{
			margin-left:0;
		}
	}
	
	a{
		@extend %button_colors;
		@extend %button_colors.orange;
		@extend %admin_border_style;
		@include font_style($open_sans, 12, 700, 26);
		@include transition(background-color .275s);
		@include text-shadow(1px 1px 1px rgba(51, 51, 51, 0.3));
		@include rem(padding, 0, 10);		
		color:white;		
		text-decoration:none;
		display:block;
	}
	
}