.action-links{	
	padding:0;
	display:table;
	width:auto;
	@include rem(margin, 5, 0, 30);

	
	li{
		list-style:none outside none;		
		float:left;		
		text-align:center;
		position:relative;
		@include rem(margin, 0, 5);

		&:first-of-type{
			margin-left:0;
		}
	}
	
	a{
		@extend %button_colors;
		@extend %button_colors.orange;
		@extend %admin_border_style;											
		display:block;
	}
	
}