.action-links{	
	padding:0;
	display:table;
	width:auto;
	@include rem(margin, 30, 0);

	
	li{
		list-style:none outside none;		
		padding:0;
		float:left;		
		text-align:center;
		position:relative;
		@include rem(margin, 0, 15);
		@include fallback(border, 1px solid rgba(51, 51, 51, 0.5), #ccc);
		@include fallback(background-color, rgba($theme_yellow, 0.3), yellow);
		@include border-radius(15px);
		@include transition(background-color 0.3s ease-out);
		
		&:first-of-type{
			margin-left:0;
		}
		
		&:hover{
			@include transition(background-color 0.15s ease-out);
			@include fallback(background-color, rgba($theme_yellow, 0.5), yellow);
		}
		
		&:active{
			@include transition(background-color 0.1s ease-out);
			@include fallback(background-color, rgba($theme_yellow, 0.8), yellow);
		}
	}
	
	a{
		@include font_style($open_sans, 13, 400, 30);
		@include transition(background-color .275s);
		@include text-shadow(1px 1px 1px rgba(51, 51, 51, 0.3));
		color:white;		
		text-decoration:none;
	}
	
}