/*
//
/// Admin Menu */

#admin-menu {
	@include box-shadow(none);
	background-image:none;
	background-color:#ebebeb;
	@include fallback(border-bottom, $admin_border_color, $admin_border_color_fallback);	
	
	a{
		@include disable_user_select();
	}
	
	.dropdown{
		
		.admin-menu-toolbar-category{
			
			&:last-of-type{
				a{
					border-right:none;
				}
			}
		
			> a{
				margin:0;
				@include rem(padding, 5, 8);
				@include fallback(border-right, $admin_border_color, $admin_border_color_fallback);	
				@include border-radius(0);
				
				&.active-trail{
					background-image:none;
				}						
			}
		}
			
		.admin-menu-icon{
			a{
				border:none !important;
			}
		}

		.admin-menu-action a{
			padding:5px 8px;
			margin:0;
		}		
	}	
	
	li.admin-menu-account > a{
		background:transparent;	
	}	
	
	#admin-menu-wrapper{
		padding-top:0;
	}
}

html body.admin-menu{
	margin-top:25px !important;
}