.l-admin_tabs{
	@extend %admin_container;
	overflow:hidden;
	
	.tabs{
		float:left;
		clear:both;
		padding:0;
		list-style:none;
		background-clip:padding-box;
		@include fallback(border, 1px solid rgba(51, 51, 51, 0.5), #ccc);	
		@include border-radius(1px);
		
		&.primary{
			@include rem(margin-top, 25);
			@include rem(margin-bottom, 15);
		}
		
		li{
			float:left;	
		}
		
		a{
			@include font_style($open_sans, 14, 600, 15);			
			@include rem(padding, 10, 20);			
			@include fallback(background-color, rgba(51, 51, 51, 0.3), #ccc);
			@include disable_user_select();
			@include transition(background-color 0.3s ease-out);
			color:white;
			display:block;
			
			&:focus{
				outline:none;
			}
			
			&:hover{
				@include fallback(background-color, rgba(227, 34, 43, 0.5), #b2b2b2);
				@include transition(background-color 0.15s ease-out);
			}
			
			&:active{
				@include transition(background-color 0.1s ease-out);
				@include fallback(background-color, rgba(227, 34, 43, 0.7), #828282);
			}
			
			&.active{
				cursor:default;
				@include fallback(background-color, rgba(227, 34, 43, 0.7) !important, #828282 !important);
			}
		}
	}
	
	.secondary{
		clear:both;
		margin-top:0;
		@include rem(margin-bottom, 30);
		
		li{
			float:left;
		}
		
		a{
			@include rem(padding, 4, 27);
			@include rem(font-size, 12);
			
			&:hover{
				@include fallback(background-color, rgba(119, 227, 1388, 0.5), #b2b2b2);
			}
			
			&:active{
				@include fallback(background-color, rgba(238, 190, 28, 0.7), #b2b2b2);
			}
		}
	}
}