/*
//
/// Contextual Links */

div.contextual-links-wrapper{
	position:absolute;
	right:0;
	bottom:0;
	top:0;
	@include transform(translateX(100%));
	
	ul.contextual-links {
		padding:0;
		
		a{
			@include font_style($arial, 14, 300, 20);
			@include rem(padding, 5);
			margin:0;
			color:$theme_black;
		}
		
	}	
}

.contextual-links-region-active{
	outline: #828282 dashed 2px;
	background-color: rgba(245, 187, 74, 0.53);
}

div.contextual-links-active a.contextual-links-trigger{
	padding:0;
	@include rem(margin-left, 10);
	
	&.contextual-links-trigger-active{
		@include rem(padding, 9, 15);
		background-color:white;
		border-radius:10px;	
	}
}

a.contextual-links-trigger-active{
	
}