.field-group-fieldset{
	@include rem(margin-bottom, 40);
	@include border-radius(4px);
  background-color: transparent;
  border-right-width:2px;
  border-bottom-width:2px;
  
  .fieldset-legend{
	  background-image:none;
	  @include rem(padding, 0, 5);
	  @include rem(font-size, 30);
	  
	  .summary{
		  display:none;
	  }
  }
}