.field-widget-inline-entity-form-single,
.field-widget-inline-entity-form{
	
	.inline-entity-form-node-status,
	.redirect-list,
	thead{
		display:none;
	}
	
	.fieldset-legend{
		@include rem(font-size, 20);
	}
	
	.form-submit{
		@extend %button_colors;
		@include rem(margin-right, 15);
	}
	
	.container-inline{
		@include rem(margin, 10, 0);
	}
	
	.ief-entity-operations{
		@include rem(margin, 0, 0, 0, 20);
	}
	
	.ief-entity-table{
		@include rem(margin-bottom, 15);
	}
	
	.ief-row-entity{
		border:1px solid rgba(0, 0, 0, 0.55);
		display:block;
		@include border-radius(4px);
		padding:0;
		@include rem(margin-bottom, 10);
	}
			
	.ief-entity-submit{
		@include rem(margin-top, 15);
	}
	
	.ief-form{
		.form-type-radios:nth-last-child(2){ // hides the published field
			display:none;
		}
		
		> .form-wrapper:last-child{
			clear:both;
			float:left;
		}
	}
	
	td{
		padding:10px 0 !important;
		border:none !important;
		
		&:first-child{
			padding-left:10px !important;
		}
		
		&:last-child{
			padding-right:10px !important;
		}
	}			
	
	.form-type-radios:last-child{
		display:none;
	}
}