.field-widget-inline-entity-form{
	
	thead{
		display:none;
	}
	
	.fieldset-legend{
		@include rem(font-size, 20);
	}
	
	.form-submit{
		@extend %button_colors;
		@include rem(margin-right, 15);
	}
	
	.container-inline{
		@include rem(margin, 20, 0, 10);
	}
	
	.ief-entity-operations{
		margin:0;
	}
	
	td{
		padding:10px 0 !important;
		
		&:first-child{
			padding-left:10px !important;
		}
		
		&:last-child{
			padding-right:10px !important;
		}
	}
	
}