.media-widget{
	
	.button{
		float:left;
		margin:10px 0;
	}	
}

body.page-media-browser{
	padding-bottom:0;
	background-color:white;
	height:100vh !important;
}

#media-browser-page-wrapper{
	
	.form-submit,
	.button{
		color:white;
		font-size:14px;
	}	
}

#mediaBrowser{
	height:433px !important;
	border-radius:5px !important;
}