/*
//
/// Table Styling */

.admin-screen table{
	border-top:1px solid black;
	background:transparent;
	width:calc(100% - 2px);
	
	&.sticky-header{
		display:none !important;
	}
	
	thead{
		background-color:transparent;
		border-top: 1px solid black;
		@include fallback(border-top, $admin_border_color, $admin_border_color_fallback);
		
		tr{
			background: transparent;
			border-top:none;
		}
		
		a{
			color:black;
		}
	}	
	
	tbody{
	    width:100%;
	}	
	
	th{
		padding-top:10px;
		padding-bottom:10px;
		font-size:1.3em;
		line-height:1em;		
		text-align:left;
		
		&:first-of-type{
			padding-left:10px;		
		}
		
		&:last-of-type{
			padding-right:10px;
		}
	}	
	
	tr{			
    	background:transparent;	
    	border-bottom:none;			  
			display:table-row;
			width:100%;
		
		&:first-of-type{
			td{
				border-top:none;
			}
		}
		
		tr{
			border:none !important;;						
		}		
		
		&.region-title{												
	    td{
	    	padding-top:5em;   	
	    	
	    	&:first-of-type{
		    	padding-top:1em;
	    	}	    
	    }    
		}
		
		&.ok{
			td {
			    background-color: $theme_green;
			}	
			
			tr td{
				background-color: transparent;
			}			
		}	
		
		&.warning{
			td{
				background-color: $theme_yellow;
			}
		}
							  	 
		&.error{
			td{
				background-color: $theme_red;		
			}
		}
		
		&.info{
			td{
				background-color:$theme_blue;
			}
			
			a{
				color:white;
			}
		}
							  	    
	}//tr
	
	td{
		font-weight:400;
		display:table-cell;
		@include rem(padding-top, 10);
		@include rem(padding-bottom, 10);
		@include fallback(border-top, $admin_border_color, $admin_border_color);
		@include fallback(border-bottom, $admin_border_color, $admin_border_color);
		@include font_style($open_sans, 16, 400, 17);
		color:white;
	
		&.active{
			background-color:transparent;
		}
		
		&:first-of-type{
			padding-left:10px;		
			@include fallback(border-left, $admin_border_color, $admin_border_color);	
		}
		
		&:last-of-type{
			padding-right:10px;
			@include fallback(border-right, $admin_border_color, $admin_border_color);
		}
	}	

	a{
		text-decoration:underline;
	}	
	
	.region-empty{
		background-color: transparent;
	}
			
	.region-title-header{
		border-top:none;
	}
		
	.field-formatter-settings-edit-wrapper .form-submit{
		background-color:rgba(175, 175, 174, 0.15);
		padding:.2em;
		border-radius:3px;
		border:none;
		
		&:hover{
			background-color:rgba(175, 175, 174, 0.4);
		}
	
	}
	
	a.tabledrag-handle{
		background-color:rgba(139, 139, 137, 0.15);
		border-radius:3px;
		border:none;
		margin:-1px .7em 0 0;
		padding:.2em;
		height:auto;
		float:left;
		clear:none;
		
		&:hover{
			border:none;
			background-color:rgba(139, 139, 137, 0.4);
		}
		
		.handle{
			height:12px;
			width:14px;
			padding:0;
			margin:0;
			background-position:1px 0;
			background-size:15px;
		}
	}
	
	.form-select{
		margin-left:1px;
	}
}

fieldset {
	legend{
		background-color:transparent;
	}
	
	.fieldset-title{
		color:black;
	}
}


table.package tr.enabling {
    background-color: #50CC50;
}
table.system-status-report a {
    color: white;
}
.tableheader-processed a {
    color: #2B0D0D;
    font-weight: bold;
    text-decoration: underline;
}
tr.region-title {
    border-right: none;
    border-left: none;
}
.tabledrag-processed tr th:last-of-type,
.tabledrag-processed tr.draggable td:last-of-type {
    position: relative;
}
