/*
//
/// Content screen */

#node-admin-content{
	#edit-options{
		#edit-submit--2.form-submit{
			@extend %button_colors;
			@extend %button_colors.orange;
			@include rem(margin, 0, 0, 0, 10);
		}
	}
}


/*
//
/// Filters */

#node-admin-content{
	#edit-filters{
		input[type="submit"].form-submit{
			@extend %button_colors;
			@extend %button_colors.orange;			
			@include rem(margin, 0, 0, 0, 10);		
			
			&:first-of-type{
				@include rem(margin-left, 10);
			}	
		}
	}
	
	.filters{
		display:block;
		width:auto;
		@include rem(margin-top, 5);
		
		.form-item{
			float:left;
			clear:none;
			
			&:last-of-type{
				label{
					@include rem(margin-left, 40);
				}
			}
		}
		
		label{
			@include font_style($open_sans, 15, 400, 18);
			width:auto;
			@include rem(margin-right, 20);
		}
		
		select{
			@include font_style($open_sans, 15, 400, 18);
		}
	}
	
	.additional-filters{
		display:none;
	}	
}