/*
//
/// Content screen */

#node-admin-content{
	
	a{
		border:none;
		
		&:hover{
			border:none;
		}
	}
	
	#edit-options{
		#edit-submit--2.form-submit{
			@extend %button_colors;
			@extend %button_colors.orange;
			margin:0;			
		}
	}
	
	#edit-filters{
		#edit-submit.form-submit{
			@extend %button_colors;
			@extend %button_colors.orange;			
			margin:0;			
		}
	}
	
	
}