/*
//
/// Bugs */

//  - When editing field template outline overlap the edit form



/*
//
/// Extendables */

%fields_ui--delete_button{
	@include transition(background-color .3s, box-shadow .3s);
	@include box-shadow(0 0 0 0 transparent inset);
	background-color:rgba(175, 175, 174, 0.15);
	@include rem(margin-right, 20);
	@include rem(height, 20);
	@include rem(width, 20);
	text-indent:-9999px;
	border-radius:3px;				
	position:relative;
	display:block;				
	float:right;
	
	&:hover{
		background-color:rgba(175, 175, 174, 0.4);
		border-bottom:transparent;		
	}
	
	&:active{
		@include box-shadow(0px 0px 10px 1px rgba(175, 175, 174, 0.4) inset);
		@include transition(background-color 0s, box-shadow 0s);		
		background-color:transparent;
	}
	
	&:after{
		content:"";
		@include transform(rotate(-45deg) translate3d(-0px, -0px, 1px));
		background-color:rgb(194, 194, 194);
		@include rem(height, 17);
		@include rem(width, 2);
		@include rem(left, 9);
		@include rem(top, 2);
		position:absolute;
		border-radius:1px;
	}						
	
	&:before{
		content:"";
		@include transform(rotate(-45deg) translate3d(-0%, -0%, 1px));
		@include rem(height, 2);
		@include rem(width, 17);
		background-color:rgb(194, 194, 194);										
		@include rem(right, 2);
		@include rem(top, 9);
		border-radius:1px;
		position:absolute;
	}		
}




/*
//
/// Manage Display screen */

#field-display-overview-wrapper{
	position:relative;
	overflow:hidden;	
}

#field-display-overview{
	background:transparent;
	border-color:transparent;
	
	//experiment
	display:block;
	
	
	thead{
		background-color:transparent;
		display:none;
		
		tr{
			border-top:none !important;
		}
		
		th{
			background-color:transparent;
			position:relative;
			font-size:1.1em;
			padding-left:0;
			border:none !important;
			padding-bottom:6px;
		}
	}		
	
	tbody{
		//experiment
		display:block;
		border:none;
		border-top:1px solid black;
	}
	
	tr{
		//experiment
		@include display-flex();
		@include flex-wrap(nowrap);
		@include justify-content(flex-start);
		border:1px solid black;		
		border-right-width:2px;
		border-top:none;
		float:left;
		clear:both;
		width:100%;
		padding:0;		
		
		&:first-of-type{
			border-top:none;
		}
		
		&:last-of-type{
			border-bottom:2px solid black;
		}
	
		&.region-title{			
			background-color:transparent;
			border-top:1px solid black;
			border-right:none;
			border-left:none;
			font-size:1.2em;
			padding-top:0;						
			
			td{
				font-weight:normal;
				padding:5em 0 .5em 0;	
			}									
		}
	
		&.field-group{
			background-color:rgb(231, 231, 231);
			
			.field-formatter-settings-edit-form{
				margin-left:-52vw;
				width:89vw;
			}
		}
		
		&.region-populated{
			display:none;
		}
		
		&.field-group.add-new{
			.add-new-placeholder,
			.description{
				display:none;
			}
			
			.form-type-select{
				position:absolute;
				top:35%;
			}
			
			td{
				&:first-of-type{
					width:19vw;
				}
				
				&:nth-of-type(4){
					width:15vw;
				}
				
				&:nth-of-type(5){
					width:20vw;
				}
			}
		}
		
		&.region-message{
			border-bottom:2px solid black;
		
			td:first-of-type{
				width:100%;
			}
		}
	}
	
	td{
		//experiment
		border:none !important;
		position:relative;
		
		&:first-of-type{
			width:21vw;
		}
		
		&:nth-of-type(4){
			width:16vw;
		}
		&:nth-of-type(5){
			width:15vw;
		}
		&:nth-of-type(6){
			width:16vw;
		}
		&:nth-of-type(7){
			width:20.6vw;
		}
		&:last-of-type{
			width:10vw;
			
			a{				
				@extend %fields_ui--delete_button;
			}
		}
	}
	
	.limit-float{
		input{
			display:none;
		}
	}
	
	.field-formatter-settings-edit{
		margin:0;
	}
	
	.field-formatter-summary{
		br:first-of-type{
			display:none;
		}
	}
}



/*
//
/// Vertical Tabs for Manage Display */

#field-ui-display-overview-form{
	.vertical-tabs{		
		@include rem(margin-top, 40);
		width:calc(100% - 15em);
		clear:both;		
		float:left;
	}
}



/*
//
/// Field Template Settings */

.field-formatter-settings-edit-form{
	@include rem(text-indent, 10);
	position:relative;
	display:block;
	
	// This is so we can get the text outside of divs to align with the rest of the content
	*{
		text-indent:0;
	}
	
	// Makes them look like they are in their own compartment
	.field-classes,
	> .form-item{
		border-top:1px solid rgba(51, 51, 51, 0.61);
		@include rem(padding, 20, 10);		
	}
	
	> .form-item:first-of-type{
		border-top:none;
	}
	
	.form-submit{		
		@include rem(margin-left, 10);
		margin-top:0 !important;
		float:left;
	}
	
	label{
		@include rem(margin, 10, 0);
	}
	
	.clearfix{
		display:none;
	}
	
	.form-type-checkbox{
		float:left;
		clear:none;
		@include rem(margin, 10);
	}
	
	.form-item{
		clear:both;
		width:100%;
	}
	
	.form-type-textfield{
		&:first-of-type{
			clear:both;
		}
	}
}

.ft-group{
	border-top:1px solid rgba(51, 51, 51, 0.61);
	@include rem(padding, 20, 10, 15);
	clear:both;
	float:left;
	width:100%;
	
	&:last-of-type{
		border-bottom:none;
	}
	
	.form-type-textfield{
		&:nth-of-type(3){
			.description{
				display:none;
			}
		}
	}
	
	.form-type-checkbox{
		margin:0 0 10px 0 !important;
	}		
	
	.form-text,
	div.form-item{
		width:100%;
	}
}



/*
//
/// Vertical Tabs on Manage Display */

// Custom Fields
#edit-additional-settings-add-custom-fields{
	
	.fieldset-description{
		@include rem(margin-bottom, 10);
	}
	
	button{
		@include rem(margin-bottom, 10);
	}
}











