.page-pages-library .views-table{
	width:90%;
	@include rem(max-width, 1024);
	@include rem(margin, 80, auto);
	
	th{
		@include rem(padding, 5, 0);
		
		&,a{
			@include rem(font-size, 18);
			font-weight:400;
			color:#333;			
		}
	}		
}