$pages_library--left_padding:5;

.page-node-revisions .sticky-table,
.page-pages-library .views-table{
	width:90%;
	@include rem(max-width, 1024);
	@include rem(margin, 80, auto);
	
	th{
		@include rem(padding, 5, 0);
		
		&:first-child{
			@include rem(padding-left, $pages_library--left_padding);
		}
		
		&,a{
			@include rem(font-size, 18);
			font-weight:400;
			color:#333;			
		}
	}
	
	td{
		@include rem(padding, 5, 0);
		
		&:first-child{
			@include rem(padding-left, $pages_library--left_padding);
		}	
		
		a{
			color:$theme_blue;
			@include adjust-font(18,33);
			font-weight:300;
		}	
	}
	
	.views-field-edit-node a{
		@extend %button_colors;
		@extend %button_colors.orange;
		@include rem(padding, 3, 10);
		text-shadow:none;
		font-weight:600;
	}
	
	.views-field-delete-node a{
		@extend %button_colors;
		@extend %button_colors.red;
		@include rem(padding, 3, 10);
		text-shadow:none;
		font-weight:600;
	}			
}