/*
//
/// Views Interface screen */

#views-ui-edit-form{
	background-color: $node_background_color;
	padding: 1em;
	border:1px solid black;
	border-radius:0;
	
	.views-displays{
		border:none;
		
		.secondary{
			a{
				border: none;
			    background-color: black;
			    color: white;
			    border-radius:0;
			    border:1px solid black;
			    transition: background-color .25s, color .15s;
			    -webkit-transition: background-color .25s, color .15s;
			    -moz-transition: background-color .25s, color .15s;
			    -o-transition: background-color .25s, color .15s;
			    -ms-transition: background-color .25s, color .15s;
			    margin-right: 0px;
			    font-weight:bold;
			    
			    &:hover{
				    background-color: white;
				    color:black;
			    }
			}
			
			.active{
				a{
					background-color:grey;
					color:#333;
					cursor:default;
				}
			}
		}
	}
	
	.views-display-top{
		background-color:white;
		border:none;
		
		ul#views-display-menu-tabs{					
			float:left;
			width:auto;
			clear:both;
			margin:1.3em 10px .5em 0;

			li{
				float:left;
				width:auto;
			}
		
			.add{
				display:none;
			}
			
			.active{
				width:auto;
			}
		}
		
		.add-display{
			float:left;
			padding:0;
			background-color:transparent;
			border:none;
			border-bottom:1px solid black;			
			color:black;
			font-size:.8em;
			border-radius:0;
			margin:1em 1.3em 0 0;
			
			&:first-of-type{
				clear:both;
				margin-left:.7em;
			}
		}
		
		.ctools-button-processed{
			float:left;
			position:relative;
			right:0;
			top:0;
		}
		
	}//views-display-top
	
	.views-display-settings{
		background-color:white;
		margin:0;
		padding:1em;
		
		.views-ajax-link{
			clear:both;
			margin-left:.7em;
		}
		
		.ctools-collapsible-handle{
			border-color:black;
			
			a{
				color:black;
				text-decoration:underline;
			}
		}
		
		.views-ui-display-tab-bucket{
			border:1px solid black;
			border-top:none;
			
			&:first-of-type{
				border-top:1px solid black;
			}
									
			&.access{
				label{
					margin-right:0;
				}
				
				#views-default-access-options{
					margin-left:0;
				}
				
				a:first-of-type{
					clear:both;
				}
				
				.views-ajax-link{
					clear:none;
				}
			}
			
			&.exposed-form,
			&.pager{
				.views-ajax-link:nth-of-type(2){
					clear:none;
				}
			}
			
			&.format{
				.views-display-setting{
					.views-ajax-link:nth-of-type(2){
						clear:none;
					}
				}
			}
			
			.even{
				background-color:white;
			}
			
			a{
				color:black;
				text-decoration:underline;
			}
			
			.ctools-button{
				border:1px solid black;
			}
			
			.actions a{
				text-decoration:none;
				@include disable_user_select();
			}
			
		}
		
		.views-ui-display-tab-actions{
			.form-submit{
				margin:0;
				font-size:1em;
			}
		}
		
	}//views-display-settings
	
}

#views-preview-wrapper{
	border:none;
	background-color:white;
}

.views-ui-dialog{
	border: 1px solid #666;
	
	#views-ajax-title, 
	.views-override{
		background-color:transparent;
	}
	
	.ui-dialog-titlebar{
		border:none;
		background-image:none;
	}
	
	.ui-dialog-titlebar-close{
		box-shadow: none;
	    top: -1px;
	    right: -17px;
	    border: 1px solid #666;
	    border-left: none;
	    background-position: 3px -1px;
	    width: 20px;
	    height: 17px;	
	}
	
	.scroll{
		margin-bottom:0;
	}
	
}

.page-admin-structure-views select {
    max-width: 300px;
}

.views-admin fieldset fieldset.container-inline {
    padding-top: 1em;
}

.views-display-column.third{
	float:right !important;
}