/*
//
/// Blocks */

#blocks{
	border-color:transparent;
	border:none !important;
	
	th,td{
		border-top:1px solid black;
		border-bottom:1px solid black;
		
		&:first-of-type{
			border-left:1px solid black;
		}
		
		&:last-of-type{
			border-right:1px solid black;
		}
	}
	
	.region-title{
		td{
			border:none;
		}
	}
	
}

.block-region-select {
    -webkit-backface-visibility: hidden;
}

.block-system ul {
  padding-left: 15px;
}

.block-system-help {
    max-width: 580px;
}