/*
//
/// Buttons */

#edit-cancel,
.form-submit,
.button.secondary,
.button,
.page-admin button,
.form-submit{
	@include font_style($open_sans, 14, 500, 14);
	border:1px solid $theme_black;
	@include rem(padding, 7, 13);
	@extend %button_colors;
	border-radius:20px;
	box-shadow:none;
}

#edit-cancel{
	@include rem(padding, 5, 13);
}

input[type="file"], 
input[type="checkbox"], 
input[type="radio"],
select{
	margin-bottom:0;
}