/*
//
/// Image Styles Page */

#image-style-effects{
	outline:1px solid black;
	border:none;

	.form-submit{
		margin-top:1em;
	}
} 

div.image-style-preview {

	.height, .width{
		display:none;
	}
	
	div.preview-image{
		margin-top:1em;
		
		img{
			border:1px solid black;
			padding:2px;
		}
	}	
	
}