/*
//
/// Webform Components Screen */

#webform-components{
	width:100%;
	border:none;
	margin:auto;
	border-bottom:1px solid black;
	
	th{
		border:none;
	}
	
	tr{
		background-color:transparent;
		border:none;
	}
	
	td{
		border-top:1px solid black;
		-webkit-backface-visibility:hidden;
		
		&:first-of-type{
			border-left:1px solid black;
		}
		
		&:last-of-type{
			border-right:1px solid black;
		}
	}
	
	thead{
		background-color:transparent;
	}
	
	tbody{
		border:none;
	}
	
	a.tabledrag-handle{
		background-color:rgba(139, 139, 137, 0.15);
		border-radius:3px;
		margin:5px .7em 0 0;
		padding:.2em;
		height:auto;
		float:left;
		clear:none;
		
		&:hover{
			border:none;
			background-color:rgba(139, 139, 137, 0.4);
		}
		
		.handle{
			height:12px;
			width:14px;
			padding:0;
			margin:0;
			background-position:1px 0;
			background-size:15px;
		}
	}
	
	input, button{
		margin-bottom:0;
	}
	
	.form-item{
		float:left;
	}
	
}

#webform-configure-form{
	.form-type-radio{
		.form-text{
			margin-top:.5em;
		}
	}
}



/*
//
/// Webform Screens */

.page-node-webform{
	form{
		width:85%;
		max-width:1200px;
		margin:auto;
	}
}