// Custom Drupal 7 Admin Theme
// By Kyle Lamble @ Loosey Goosey Art
// Version 2.0



/*
//
/// Admin Theme Variables */

$admin_theme_orange: rgb(221, 155, 35);
$admin_theme_blue: #067a8f;

$theme_red: #d2443e;
$theme_blue: #067a8f;
$theme_black: #333;
$theme_green: #207954;
$theme_purple: #6e467a;
$theme_yellow: #f5bb4a;

$admin_content_bgcolor: rgba(255, 255, 255, 0.75);
$node_background_color: rgba(255, 255, 255, 0.7);

$menu_padding: .1em 0;

$arial:'Arial', sans-serif;
$open_sans:'Open Sans', sans-serif;

$button_active_box_shadow:0px 0px 10px -2px #333 inset;

%button_colors{
	@include transition(background-color .3s, color .15s, box-shadow .3s);
	background-color:#353535;
	color:white;
	
	&:hover{
		background-color:rgba(59, 59, 59, 0.73);
		text-decoration:none;
		color:white;
	}
	
	&:active{
		@include transition(background-color 0s, color 0s, box-shadow 0s);
		box-shadow:0px 0px 28px 5px #333333 inset;	
		background-color:white;
		color:#3B3B3B;
	}
}


/*
//
/// Imports */

@import "scss/page_admin";
@import "scss/messages";
@import "scss/buttons";
@import "scss/wysiwyg";
@import "scss/module_filter";
@import "scss/vertical_tabs";
@import "scss/button_groups";
@import "scss/manage_display";
@import "scss/views";
@import "scss/tables";
@import "scss/content";
@import "scss/image_styles";
@import "scss/admin_menu";
@import "scss/webform";
@import "scss/status_screen";
@import "scss/contextual_filters";
@import "scss/update_screen";
@import "scss/database_logs";
@import "scss/throbber";
@import "scss/misc";
@import "scss/action_links";
@import "scss/commerce";
@import "scss/forms";
@import "scss/dpm";





